  /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap'); */


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
  * {box-sizing:border-box}


  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 18px;
      /* background-color: #333; */
      overflow: hidden;
      display: flex;
      text-decoration: none;
      /* border: 2px solid red; */
      /* background-color: black; */
  }
  

  .navbar li a {
      text-decoration: none;
      color: black;
      margin: 16px;
      font-family: 'Roboto', sans-serif;

  }
  .logo{
    /* border: 2px solid yellow; */
    display: inline-block;
    width: 100px;
    height: auto;
    position: absolute;
    margin-top: 1vh;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000vh;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.three-text{
  display: inline-flex;
  /* border: 2px solid red; */
   margin-left: 42vw;
  
  
  
}
.three-text h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding-left: 15px;
  display: flex;
  
}

.heading{
  /* border: 2px solid red; */
  margin-left: 42vw;
  display: inline-flex;
  
 

}
.heading h2{
  font-family: 'Montserrat';
  font-weight: 500;
}

.product-slider{
  display: flex;
  justify-content: center;
  cursor: pointer;

  

}
.second-image{
  margin: 2vw;
}
.third-image{
  margin: 2vw;
}
.first-image{
  margin: 2vw;
}

.secondry-text{
  /* color: red; */
  margin-top: -4vw;
  margin-left: 5vw;
  
}
.secondry-text h4{
font-weight: 500;
font-family: 'Montserrat';
}

.box-section-1{
  /* border: 2px solid red; */
}

.image-box img{
  display: inline-flex;
  position: relative;
width: 55vh;
height: 70vh;
margin-left: 105vh;
margin-top: 10vw;
/* border: 2px solid orange; */
}


.text-box{

  /* border: 2px solid yellow; */
  font-family: 'Montserrat';
  position: absolute;
  margin-top:42vh ;
  margin-left: 30vh;
  width: 50vh;
  font-weight: 500;
  
}
.text-box h1{

  /* font-family: 'Poppins';  */
 font-weight: 300;
 

}
.text-box p{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat';
}
.text-box #ea{
  color: black;
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: 500;

}


/* button  */
.btn{
  cursor: pointer;
  background-color: #face93;
  font-family: 'Montserrat';
  padding: 15px 35px ;
  justify-content: center;
  color: black;
  font-weight: 600;
  margin-left: 7vh;
  margin-top: 2vw;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  border: none;

}
.btn:hover{
  background-color: black;
  color:#face93;
}
.box-section-2{
  /* border: 2px solid yellow; */
}


.box-section-2 #player{
  margin-left:50vh ;
  margin-top: -10vh;
}


.image-box-2 img{
  display: inline-flex;
  position: relative;
width: 55vh;
height: 76vh;

margin-top: 10vw;
/* border: 2px solid red; */
}

.second-text-box{
  font-family: 'Montserrat';
  position: absolute;
  margin-top:-59vh ;
  margin-left: 122vh;
  width: 50vh;
  font-weight: 500;
  /* border: 2px solid red; */
  
}
.second-text-box #stb{
  font-family: 'Montserrat';
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.second-text-box #stb-h1{
  font-family: 'Montserrat';
  font-weight: 400;
}

.text-box-3{
  /* border: 2px solid yellowgreen; */
  font-family: 'Montserrat';
  position: absolute;
  margin-top:21vh ;
  margin-left: 35vh;
  width: 67vh;
  height: 50vh;
  font-weight: 500;
  /* text-align: center; */
  /* justify-content: center; */
  background-color: #f2efec;
  
}
.text-box-3 #ppp{
  margin-top: 10vh;
  font-family: 'Monteserrat';
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-left: 8vh;
}
.text-box-3 #pbac{
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 8vh;
}

.text-box-3 #pid{
  margin-left: 8vh;
}
.image-box-3{
  /* border: 2px solid pink; */
  margin-left: 118vh;
  display: inline-flex;
  margin-top: 10vh;
}

.box-section-4{
  /* border: 2px solid sandybrown; */
  margin-top: 5vh;
  
}
.box-section-4 img{
  /* border: 2px solid green; */
  width: 55vh;
  margin-left: 45vh;
}
.text-box-4
{
  /* border: 2px solid green; */
  /* display: inline-flex; */
  width: 43vh;
  margin-left: 111vh;
  margin-top: -56vh;
  
}
.text-box-4 #ib{
  margin-top: 10vh;
  font-family: 'Monteserrat';
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-left: 8vh;
}
.text-box-4 #nsa{
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 8vh;
}

.text-box-4 #p2id{
  font-family: 'Montserrat';
  position: absolute;
  margin-top:1vh ;
  margin-left: 8vh;
  width: 67vh;
  /* height: 50vh; */
  font-weight: 500;
  /* border: 2px solid yellow; */
  

}

.btnn{
  cursor: pointer;
  background-color: #face93;
  font-family: 'Montserrat';
  padding: 15px 35px ;
  justify-content: center;
  color: black;
  font-weight: 600;
  margin-left: 8vh;
  margin-top: 6vw;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  border: none;

} 
.btnn:hover{
  background-color: black;
  color:#face93;

}

/* Section 5 */
.box-section-5
{

/* border: 2px solid yellow; */
margin-top: 26vh;
background-color: #f9f6ef;
height: 60vh;
}
.text-box-5{
  /* border: 2px solid red; */
  width: 80vh;
  height: 36vh;
  margin-left: 20vh;
  padding-top: 4vh;

}

.text-box-5 #hc{
  margin-top: 10vh;
  font-family: 'Monteserrat';
  color: black;
  font-size: 15px;
  font-weight: 500;
  margin-left: 8vh;
}
.text-box-5 #moe{
  font-family: 'Montserrat';
  font-weight: 500;
  margin-left: 8vh;

}
.text-box-5 #p5{
  font-family: 'Montserrat';
  position: absolute;
  margin-top:1vh ;
  margin-left: 8vh;
  width: 67vh;
  /* height: 50vh; */
  font-weight: 500;
  /* border: 2px solid yellow; */

}
.image-box-5
{
  margin-left: 23vh;
}
.image-box-5 img{
  width: 60vh;
  margin-top: -36vh;
  margin-left: 90vh;

}
.box-section-6{
  /* border: 2px solid red; */
  height: 38vh;
  margin-left: 34vh;
}
.box-section-6 #tb6{
  margin-top: 18vh;
  font-family: 'Monteserrat';
  color: black;
  font-size: 35px;
  font-weight: 500;
  margin-left: 8vh;
}
 .box-section-6 #p6{
  font-family: 'Montserrat';
  position: absolute;
  margin-top:1vh ;
  margin-left: 8vh;
  width: 67vh;
  /* height: 50vh; */
  font-weight: 500;
  /* border: 2px solid yellow; */

 }

 .box-section-6 #lid6{
  margin-top: 14vh;
  /* border: 2px solid yellowgreen; */
  display: inline-flex;
  margin-left: 8vh;
  font-size: 1.5vh;
  font-weight: 600;
 }
 .box-section-6 #lid6:hover{
  color:#ffc994;
  cursor: pointer;
 }
 .box-section-7
 {
  /* border: 2px solid red; */
  height: 80vh;
  background-color: #f0e3d3;
 }
 .box-section-7 #tnj{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-top: 13vh;
 }

 /* bottom-flex-box */
 .flex-img-section{
  /* border: 2px solid yellowgreen; */
  margin-top: 15vh;
  
  
 }
 .flex-img-1{
  /* border: 2px solid red; */
  display: inline-flex;
  margin-left:8vh ;
  margin-right: 3vh;
  transition: transform .2s; /* Animation */




 }

 .flex-img-1:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 .flex-img-1 img{

  width: 25vw;
  height: 20vw;
  
  
 }
 
 .flex-img-2{
  /* border: 2px solid gold; */
  display: inline-flex;
  margin-right: 3vh;
  transition: transform .2s; /* Animation */
  
  

 }
 .flex-img-2:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
 .flex-img-2 img{
  width: 25vw;
  height: 20vw;

 }
 .flex-img-3{
  /* border: 2px solid pink; */
  display: inline-flex;
  margin-right: 3vh;
  transition: transform .2s; /* Animation */
 }

 .flex-img-3 :hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

 }
 .flex-img-3 img{
  width: 30vw;
  height: 20vw;
 }

 .flex-text{
  margin-left: 2vh;
  margin-top: 1vh;
 }

 /* Footer Section Begins Here */

 .footer-section-first{
  border: 2px solid green;
 }

 .footer-section{
  background-color: black;
  height: 50vh;
  border: 2px solid red;
 }
 .footer-section img{
  margin-top: 7vh;
  margin-left: 12vh;
 }

 .social-icons{
  /* border: 2px solid magenta; */
  width: 24h;
  display: inline-flex;
 }
 .icons{
  margin-top: 2vh;
  /* border: 2px orange; */
 }

